<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eShop</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="app">
        <header class="header center">
            <search :handler="filterGoods"></search>

            <cart-button :size="shopCartSize"></cart-button>
        </header>
        <main class="title-goods center">

            <div v-if="isVisibleCatalog">
                <h2>Каталог</h2>
                <error></error>
                <goods-list :goods="filteredGoods"></goods-list>
            </div>

            <div v-if="isVisibleCart">
                <h2>Корзина</h2>
                <cart-list :goods="renderCart"></cart-list>
            </div>
        </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js">
    </script>
    <script src="js/script.js"></script>
</body>

</html>