<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eShop</title>
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <div id="app">
        <header class="header center">
            <div class="search">
                <input type="text" class="goods-search" v-model="searchLine" />
                <search :size='shopCartSize'></search>
            </div>
            <button class="cart-button" type="button">
                <div>Корзина</div>
            </button>
        </header>
        <main class="title-goods center">
            <h2>Каталог</h2>
            <error></error>
            <h2 v-if="filteredGoods.length == 0">Ничего не
                найдено</h2>
            <goods-list :goods='filteredGoods' :handler='addToCart'></goods-list>
            <div class="cart-box">
                <h2 v-if="isVisibleCart">Корзина</h2>
                <cart-list :goods='shopCart' :handler='removeFromCart'></cart-list>
            </div>


        </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js">
    </script>
    <script src="script.js"></script>
</body>

</html>